.home-page {
    background: linear-gradient(to right bottom, #476072cc, #334257cc), url("https://images.pexels.com/photos/1183434/pexels-photo-1183434.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    box-shadow: 2px 3px 5px #888888;
    min-height: 80vh;
    object-fit: cover;
    margin: 2rem;

    & h1 {
        color: var(--color-text-white);
        font-size: 4rem;
        text-align: center;

    }

    .home-sec-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;

    }


}